@model IEnumerable<DayModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEmploee.cshtml";
}

<h1>Index</h1>
<table border="1">


    @*@foreach (var item in Model)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Date)
            </th>
        </tr>

        @foreach (var hours in item.Hours)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => hours.Hour)
            </td>
        </tr>
            
        }
    }*@

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => day.Date)
                </td>
                <td>
                    @foreach (var hour in day.Hours)
                    {
                    <div>
                        @Html.DisplayFor(modelItem => hour.Hour)
                    </div>
                        
                    }
                </td>
            </tr>
        }
    </tbody>






</table>

