@model PaginatedList<DayModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutEmploee.cshtml";
}

<div id="PlaceHolder"></div>

<h1>Harmonogram</h1>

<a asp-action="Create">Dodaj dzień</a>

<table border="1">
    <tr>
        @foreach (var day in Model)
        {

            <th>
                @Html.DisplayFor(modelItem => day.Date)
            </th>

            <tr>
                                    
                    @foreach (var hour in day.Hours)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => hour.Hour)
                        </td>
                        
                    }                    
                
            </tr>
        }
    </tr>
</table>




<!--<table border="1">
    <thead>
        <tr>
            <th>-->
            @*@Html.DisplayNameFor(model => model.Date)*@
            <!--Data
            </th>
            <th>-->
            @*@Html.DisplayNameFor(model => model.Hours)*@
            <!--Godziny
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var day in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => day.Date)
                </td>
                <td>
                    @foreach (var hour in day.Hours)
                    {
                        <div>
                            @Html.DisplayFor(modelItem => hour.Hour)
                        </div>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>-->

@*<div>
    @foreach (var day in Model)
    {

        @Html.DisplayFor(modelItem => day.Date)

        @foreach (var hour in day.Hours)
        {
            <div>
                @Html.DisplayFor(modelItem => hour.Hour)
            </div>
        }

    }
</div>*@


@{
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Poprzednia
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Następna
</a>

