@model HairdresserSalon.Models.ServiceModel
@{
    ViewData["Title"] = "Usuń usługę";
    Layout = "~/Views/Shared/_LayoutEmploee.cshtml";
}

<h1>Usuń</h1>

<h4>Czy na pewno chcesz usunąć usługę?</h4>
<div>
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
            zł
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input class="btn btn-danger" type="submit" value="Usuń" />
        <a class="btn btn-primary" asp-action="Index">Anuluj</a>
    </form>
</div>


